<div class="centered-container">
  <input type="text" placeholder="Enter game title" [(ngModel)]="gameTitle" />
  <br />
  <input type="text" placeholder="Enter game genre" [(ngModel)]="gameGenre" />
  <br />
  <input type="number" placeholder="Enter release year" [(ngModel)]="gameReleaseYear" />
  <br />

  <button class="btn btn-primary" (click)="addGame()">Add Game</button>
</div>

<ul class="game-list">
  <li *ngFor="let game of gameList">
    <strong>Title:</strong> {{ game.title }},
    <strong>Genre:</strong> {{ game.genre }},
    <strong>Release Year:</strong> {{ game.releaseYear }}
  </li>
</ul>
