<a routerLink="/studentlist" class="btn btn-dark spaced-btn">Student List</a>
<a routerLink="/employeelist" class="btn btn-dark spaced-btn">Employee List</a>
<a routerLink="/fruitlist" class="btn btn-dark spaced-btn">Fruit List</a>
<a routerLink="/courselist" class="btn btn-dark spaced-btn">Course List</a>
<a routerLink="/booklist" class="btn btn-dark spaced-btn">Book List</a>
<a routerLink="/citylist" class="btn btn-dark spaced-btn">City List</a>
<a routerLink="/movielist" class="btn btn-dark spaced-btn">Movie List</a>
<a routerLink="/carmodellist" class="btn btn-dark spaced-btn">Car Model List</a>
<a routerLink="/productlist" class="btn btn-dark spaced-btn">Product List</a>
<a routerLink="/subjectlist" class="btn btn-dark spaced-btn">Subject List</a>
<a routerLink="/countrylist" class="btn btn-dark spaced-btn">Country List</a>
<a routerLink="/sportslist" class="btn btn-dark spaced-btn">Sports List</a>
<a routerLink="/vegetablelist" class="btn btn-dark spaced-btn">Vegetable List</a>
<a routerLink="/animallist" class="btn btn-dark spaced-btn">Animal List</a>
<a routerLink="/toollist" class="btn btn-dark spaced-btn">Tool List</a>
<a routerLink="/languagelist" class="btn btn-dark spaced-btn">Language List</a>
<a routerLink="/gamelist" class="btn btn-dark spaced-btn">Game List</a>
<a routerLink="/softwarelist" class="btn btn-dark spaced-btn">Software List</a>
<a routerLink="/phonecontactlist" class="btn btn-dark spaced-btn">Phone Contact List</a>
<a routerLink="/musicplaylist" class="btn btn-dark spaced-btn">Music Playlist</a>
<a routerLink="/foodmenu" class="btn btn-dark spaced-btn">Food Menu</a>
<a routerLink="/grocerylist" class="btn btn-dark spaced-btn">Grocery List</a>
<a routerLink="/classroomlist" class="btn btn-dark spaced-btn">Classroom List</a>
<a routerLink="/inventorylist" class="btn btn-dark spaced-btn">Inventory List</a>
<a routerLink="/lecturelist" class="btn btn-dark spaced-btn">Lecture List</a>
<a routerLink="/stationerylist" class="btn btn-dark spaced-btn">Stationery List</a>
<a routerLink="/flowerlist" class="btn btn-dark spaced-btn">Flower List</a>
<a routerLink="/destinationlist" class="btn btn-dark spaced-btn">Destination List</a>
<a routerLink="/laptoplist" class="btn btn-dark spaced-btn">Laptop List</a>
<a routerLink="/laptopspecificationslist" class="btn btn-dark spaced-btn">Laptop Specifications List</a>
<a routerLink="/computerhardwarelist" class="btn btn-dark spaced-btn">Computer Hardware List</a>
<a routerLink="/mobileapplist" class="btn btn-dark spaced-btn">Mobile App List</a>
<a routerLink="/videolist" class="btn btn-dark spaced-btn">Video List</a>
<a routerLink="/tvshowlist" class="btn btn-dark spaced-btn">Tv Show List</a>
<a routerLink="/furniturelist" class="btn btn-dark spaced-btn">Furniture List</a>
<a routerLink="/accessorylist" class="btn btn-dark spaced-btn">Accessory List</a>
<a routerLink="/buildinglist" class="btn btn-dark spaced-btn">Building List</a>
<a routerLink="/paintinglist" class="btn btn-dark spaced-btn">Painting List</a>
<a routerLink="/artistlist" class="btn btn-dark spaced-btn">Artist List</a>
<a routerLink="/composerlist" class="btn btn-dark spaced-btn">Composer Playlist</a>
<a routerLink="/podcastlist" class="btn btn-dark spaced-btn">Podcast Menu</a>
<a routerLink="/exerciselist" class="btn btn-dark spaced-btn">Exercise List</a>
<a routerLink="mealplanlist" class="btn btn-dark spaced-btn">Meal Plan List</a>
<a routerLink="/budgetlist" class="btn btn-dark spaced-btn">Budget List</a>
<a routerLink="/presentationlist" class="btn btn-dark spaced-btn">Presentation List</a>
<a routerLink="/tourlist" class="btn btn-dark spaced-btn">Tour List</a>
<a routerLink="/eventlist" class="btn btn-dark spaced-btn">Event List</a>
<a routerLink="/developertoolslist" class="btn btn-dark spaced-btn">Developer Tools List</a>
<a routerLink="/frameworklist" class="btn btn-dark spaced-btn">Framework List</a>
<a routerLink="/librarylist" class="btn btn-dark spaced-btn">Library List</a>

<br>
<br>
<br>
<router-outlet></router-outlet>
