<div class="centered-container">
  <input type="text" placeholder="Enter item name" [(ngModel)]="itemName" />
  <br />
  <input type="number" placeholder="Enter item quantity" [(ngModel)]="itemQuantity" />
  <br />
  <input type="number" placeholder="Enter item price" [(ngModel)]="itemPrice" step="0.01" />
  <br />

  <button class="btn btn-primary" (click)="addGroceryItem()">Add Grocery Item</button>
</div>

<ul class="grocery-list">
  <li *ngFor="let item of groceryList">
    <strong>Name:</strong> {{ item.name }},
    <strong>Quantity:</strong> {{ item.quantity }},
    <strong>Price:</strong> ${{ item.price.toFixed(2) }}
  </li>
</ul>
